body{
    background-color: #e7feff;
}

button{
    border-radius: 5px;
    border: 1px solid grey;
}

input {
    border-radius: 5px;
    border: 1px solid grey;
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

.budget-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.budget-div{

}

.pieChart {
  max-width: 60vw;
  max-height: 40vh;
}